* {
  font-family: Garamond;
  font-size: 16px;
}

h1 {
  color: #8D8D8D;
  font-family: Garamond;
  text-align: center;
  font-size: 48px;
}

#mainpic {
  height: 250px;
  width: 250px;
  border: 3px solid black;
  box-shadow: rgba(0,0,0,0.2) 10px 10px;
}

ul {
  list-style-type: none;
}

li {
	display: block;
	float: left;
	padding: 5px;
	border: 2px solid #333639;
	border-radius: 5px 5px;
	background-color: #CAD7E6
}
