* {
  font-family: Garamond;
  font-size: 16px;
  color: #222222;
}

#header {
  background-color: #222222;
}

h1 {
  color: #DDDDDD;
  font-family: Garamond;
  text-align: center;
  font-size: 48px;
}

#mainpic {
  height: 250px;
  width: 250px;
  border: 3px solid black;
  box-shadow: rgba(0,0,0,0.2) 10px 10px;
  margin: 10px;
}

ul {
  list-style-type: none;
}

li {
	padding: 5px;
	float: left;
	border: 2px solid #333639;
	border-radius: 5px 5px;
	background-color: #CAD7E6
}
