* {
  font-family: Garamond;
}

.headline {
  color: #8D8D8D;
  font-family: Garamond;
  text-align: left;
  font-size: 48px;
}

#sidebar {
  height: 200px;
  width: 50px;
  background-color: #C4C4C4;
  float: right;
  border: 2px solid black;
}

#mainpic {
  height: 250px;
  width: 250px;
  border: 3px solid black;
  box-shadow: rgba(0,0,0,0.2) 10px 10px;
}

ul {
  list-style-type: none;
}

li {
	display: block;
	padding: 5px;
	border: 2px solid #333639;
	border-radius: 5px 5px;
	background-color: #CAD7E6
}
